/* Scss Document */
body {
  font-size: 14px;
  font-family: Tahoma, Arial, stheiti, "Droid Sans", "Microsoft Yahei";
  color: #333; }

ul, ul li {
  list-style: none;
  padding: 0px;
  margin: 0px; }

.am-btn-xs {
  font-size: 1em; }

.am-slider-default {
  margin-bottom: 0px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.2em 0; }

.am-btn-lg {
  font-size: 16px; }

.am-text-xs {
  font-size: 12px; }

p {
  margin-bottom: 1em; }

.am-btn-primary {
  background-color: #F4AB63;
  border-color: #F4AB63; }
  .am-btn-primary:hover {
    background-color: #e95738;
    border-color: #e95738; }

.clear {
  clear: both; }

a {
  color: #F4AB63; }
  a:hover {
    color: #e95738; }

/**
  home page
 */
.topbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  font-size: 16px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e8e8e8; }
  .topbar li {
    float: left;
    font-weight: 500; }
    .topbar li:first-child {
      width: 20%;
      text-align: left;
      color: #838383;
      margin-right: 15%; }
      .topbar li:first-child i {
        margin-left: 5px; }

.main-containter {
  height: 100%;
  padding-top: 42px;
  padding-bottom: 50px;
  overflow-x: hidden;
  /*
  .seach {
    position: relative;
    i {
      color: #e8e8e8
    }
    input {
      border: 1px solid $borderColor;
    }
    button {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 37px;
    }
  }*/
 /***
 therapist list
*/ }
  .main-containter .am-slider-default .am-control-nav {
    bottom: 10px; }
  .main-containter .am-slider-default .am-control-nav li a.am-active {
    background-color: #fff;
    opacity: 0.9; }
  .main-containter .special-column {
    text-align: center;
    font-size: 12px; }
    .main-containter .special-column .am-u-sm-3 {
      padding: 10px;
      border-right: 1px solid #e8e8e8; }
      .main-containter .special-column .am-u-sm-3:last-child {
        border-right: 0px; }
    .main-containter .special-column .circle {
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: red; }
    .main-containter .special-column i {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: #fff;
      text-align: center;
      display: block;
      margin: auto;
      line-height: 40px;
      font-size: 18px; }
  .main-containter .list-header {
    font-size: 14px;
    font-weight: bold; }
    .main-containter .list-header ul {
      width: 100%;
      float: left; }
      .main-containter .list-header ul li {
        float: left;
        width: 15%;
        padding: 10px 0px;
        color: #666; }
        .main-containter .list-header ul li:nth-of-type(3), .main-containter .list-header ul li:nth-of-type(4) {
          width: 21%; }
        .main-containter .list-header ul li:nth-of-type(5) {
          width: 28%; }
        .main-containter .list-header ul li.active {
          border-bottom: 1px solid #F4AB63;
          color: #F4AB63; }
        .main-containter .list-header ul li span {
          border-right: 1px solid #e8e8e8;
          display: block;
          margin: 0px 5%;
          float: left;
          width: 100%;
          text-align: center;
          padding: 0px;
          line-height: 1em; }
        .main-containter .list-header ul li:last-child span {
          border-right: none; }
    .main-containter .list-header > div {
      clear: both; }
  .main-containter .list-search {
    background-color: #f3f3f3;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    float: left;
    width: 100%;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    color: #666; }
    .main-containter .list-search i {
      margin-left: 5px; }
  .main-containter .am-list .am-u-sm-3 {
    padding-left: 10px; }
  .main-containter .am-list > li {
    padding: 10px 0px;
    border: 1px solid #f1f1f1;
    border-right: none;
    border-left: none; }
  .main-containter .list-content {
    font-size: 12px; }
    .main-containter .list-content h3 {
      margin: 0px;
      font-size: 15px; }
    .main-containter .list-content i {
      font-size: 12px;
      margin: 0 3px 0 10px;
      color: #999; }
    .main-containter .list-content span {
      font-size: 10px;
      color: #999; }
    .main-containter .list-content button {
      font-weight: bold; }
    .main-containter .list-content .am-fr {
      text-align: right; }
      .main-containter .list-content .am-fr p {
        color: #878787;
        line-height: 3em; }
    .main-containter .list-content .info {
      clear: both;
      color: #666;
      font-size: 13px; }
  .main-containter .service-list .cost {
    line-height: 2.5em; }
    .main-containter .service-list .cost span:first-child {
      color: #e95738;
      font-size: 16px; }
    .main-containter .service-list .cost span:last-child {
      color: #878787;
      font-size: 16px; }
  .main-containter .service-list p {
    margin: 0px; }
  .main-containter .therapist-list .list-search {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    float: left;
    width: 100%;
    border-top: 8px solid #e8e8e8;
    color: #666;
    background-color: #fff;
    border-bottom: none; }
  .main-containter .therapist-list .excellent {
    background: url(../images/excellent.png) no-repeat center;
    position: absolute;
    width: 105px;
    height: 30px;
    display: block;
    bottom: -10px;
    left: -4px;
    -webkit-background-size: 80% auto;
    background-size: 60% auto; }
  .main-containter .therapist-list .info {
    font-size: 12px; }

.footer {
  border-top: 1px solid #e8e8e8;
  background-color: #fff; }
  .footer a {
    color: #a7a7a7; }
  .footer li {
    color: #999; }
  .footer li.active a {
    color: #F4AB63; }

.admin-sidebar {
  width: inherit; }

.admin-content, .admin-sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.admin-sidebar {
  width: 260px;
  min-height: 100%;
  float: left;
  border-right: 1px solid #cecece; }

/**
  login page
 */
.login {
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  transition: transform .3s ease-in-out 0s;
  -webkit-transform: translateZ(0);
  -webkit-transition: -webkit-transform .3s ease-in-out 0s;
  text-align: center;
  color: #666;
  font-size: 13px;
  padding: 5% 2% 0; }
  .login h1 {
    margin-bottom: 2px; }
  .login .tip {
    margin-bottom: 1.6em; }
  .login .agreement a {
    text-decoration: underline; }
  .login .copyright {
    color: #aaa;
    font-size: smaller; }
  .login .form-group {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    position: relative; }
    .login .form-group input {
      border: 0px;
      font-size: 13px;
      color: #666; }
    .login .form-group div {
      position: absolute;
      right: 15px;
      top: 12px; }
  .login button.am-btn-block {
    margin-top: 30px; }
  .login button.am-disabled {
    background-color: #aaa;
    border: none; }

.am-navbar {
  background-color: #fff; }

button.am-btn-block {
  border-radius: 5px;
  font-weight: bold; }

/**
service detail
 */
.service-detail {
  height: 100%;
  margin-bottom: 45px; }
  .service-detail .service-detail-content > div {
    padding: 12px 2%;
    border-bottom: 8px solid #e8e8e8; }
    .service-detail .service-detail-content > div:first-child h1 {
      font-size: 1.2em;
      padding: 12px 2%;
      border-bottom: 1px solid #f1f1f1;
      color: #545454; }
      .service-detail .service-detail-content > div:first-child h1 .cost {
        color: #e95738; }
    .service-detail .service-detail-content > div:first-child p {
      padding: 0px 2%; }
    .service-detail .service-detail-content > div h2 {
      color: #F4AB63;
      border-bottom: 1px solid #f1f1f1; }
    .service-detail .service-detail-content > div p {
      color: #838383; }
    .service-detail .service-detail-content > div.purpose h2 {
      border-bottom: none;
      margin: 0px;
      font-size: 1.2em; }
    .service-detail .service-detail-content > div.purpose p {
      margin-top: 0px; }

.navbar-button {
  height: 60px;
  padding: 0px 2%;
  border-top: 1px solid #e8e8e8; }

/**
modal
 */
.complete-modal {
  margin: 12% 5%; }
  .complete-modal button {
    margin: 8% 0px; }

/**
  order
 */
.am-list > li.border8 {
  border-bottom: 8px solid #e8e8e8; }

.service-order .am-list > .am-g {
  width: 100%;
  padding: 1% 2%; }
  .service-order .am-list > .am-g label {
    margin-top: 13px;
    color: #878787;
    border-right: 1px solid #ccc;
    text-align: center;
    line-height: 1em; }
  .service-order .am-list > .am-g .numberStep {
    margin-top: 3px; }
    .service-order .am-list > .am-g .numberStep i {
      color: #fff;
      font-size: 16px; }
    .service-order .am-list > .am-g .numberStep button {
      position: relative;
      padding: 13px 10px 13px 19px;
      border-radius: 5px; }
    .service-order .am-list > .am-g .numberStep input {
      width: 30px;
      text-align: center;
      border: 1px solid #ccc; }
.service-order input {
  border: none;
  font-size: 15px;
  line-height: 1.6em;
  color: #333;
  text-align: right; }
.service-order input[type=text][disabled] {
  cursor: auto;
  background-color: #fff; }
.service-order .am-icon-angle-right {
  font-size: 20px; }
.service-order .cost {
  font-size: 15px; }
  .service-order .cost .am-g {
    padding: 1.2% 2%;
    border-bottom: 1px dotted #eee; }
    .service-order .cost .am-g:last-child {
      border-bottom: none; }
  .service-order .cost .r {
    color: #e95738;
    text-align: right; }
.service-order ul.reminder {
  margin-left: 8%; }
  .service-order ul.reminder li {
    list-style: disc;
    color: #777; }

.cost {
  font-size: 18px;
  color: #e95738; }

/*# sourceMappingURL=index.css.map */
