<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.o2o.nm.mapper.ServiceCategoryMapper">

    <!--&lt;!&ndash; 开启二级缓存 &ndash;&gt;-->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="getCats" resultType="com.o2o.nm.entity.ServiceCategory">
        select cat_id,cat_name,sort from service_category order by sort
    </select>
</mapper>
