<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="com.o2o.massage">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath:common.properties" ignore-unresolvable="true"/>

    <import resource="classpath:spring/spring-datasource.xml"/>
    <import resource="classpath:spring/spring-context-task.xml"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:defaultEncoding="UTF-8" p:maxUploadSize="${upload.max.size}"
          p:uploadTempDir="${upload.temp}/temp"/>
    <!-- 通过域名访问的请求,进行IP白名单过滤检查 -->

    <context:annotation-config/>
</beans>
